[submodule "backend"]
    path = backend
    url = https://github.com/gonzaleztoscanopaula/backend.git
[submodule "frontend"]
    path = frontend
    url = https://github.com/gonzaleztoscanopaula/frontend.git
